<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h3>Avis</h3>
<% @reviews.each do |review| %>
  <p><%= review.rating %>: <%= review.content %></p>
<% end %>
<%= link_to 'Donner votre avis sur le restaurant', new_restaurant_review_path(@restaurant), class: 'btn btn-info' %>

<%= link_to 'Tous les restos', restaurants_path, class: 'btn btn-danger' %>
